*, *:before, *:after {
    box-sizing: border-box;
  }

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
   height: 22px;
   width: 22px;
}

nav a img {
    height: 22px;
    width: 22px;
}

header {
    display: flex;
    align-items: center;
}

header h3 {
    padding-left: 1rem;
    color: #fff;
}


.menu-fondo {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    background-color: #1B54B9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-hamburguesa {
    height: 22px;
    width: 22px;
}

.circles-background {
    position: absolute;
    z-index: 0;
    padding: 0;
    right: 0;
    opacity: 70%;
    height: 15rem;
    width: auto;

}


.hero {
    color: #fff;
    padding: 1rem;
    overflow: hidden;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h6 {
    position: relative;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
}

.hero h1 {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.5rem;
}

.hero h2 {
    position: relative;
    font-weight: 700;
    margin: 0.5rem 0 0 0;
    font-size: 1.5rem;
}

.gradient-background {
    background-image: url(resources/background-stars.png);
    background-color: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(42,98,209,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 1rem 2.5rem 1rem;
    border-radius: 0% 0% 100% 100% / 0% 0% 10% 10%;
    margin-bottom: 1.5rem;
    height: 490px;
    width: auto;
}

.section-title {
    height: 2rem;
    padding: 0 1rem;
    text-align: center;
}

.section-title h3 {
    font-size: 1.5rem;
    color: #2C65D3;

}

ul {
    padding: 0;
    color: #fff;
}



main li {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
    margin-top: 0;
    padding: 0;
    list-style-type: none;
}

.servicios-card {
    height: 15.625rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(resources/servicios-image.png);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

.servicios-card p {
    font-size: 1rem;
    max-width: 18rem;
}

.proyectos-card {
    margin-top: 0.5rem;
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(resources/proyectos-image.png);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

.proyectos-card p {
    font-size: 1rem;
    max-width: 20rem;
}
ul h4 {
    display: inline;
    margin: 0 0.5rem 0 0;
    color: #fff;
    font-size: 1.5rem;
}

.conocenos-card {
    margin: 0.5rem 0rem 2rem 0;
    height: 15.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(resources/conocenos-image.png);
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    background-size: cover;
}

.conocenos-card h4 {
    margin: 0;
    height: 39px;
}

.conocenos-card p {
    max-width: 18rem;
    margin: 0;
}



.caso-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 497px;
    width: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1rem;
    border-radius: 0.625rem;
}

.caso-header {
    border-radius: 0.625rem 0.625rem 0 0;
}

.caso-header h5 {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
}

.imagen-cinemark {
    height: 21.125rem;
    width: auto;
    margin: 0;
    background-image: url(/resources/caso-cinemark.png);
    background-repeat: no-repeat;

}

.caso-epigrafe h6 {
    font-size: 1.5rem;
    margin: 1rem 0 0 1rem;
    color: #FB333E;
    font-weight: 600;
}

.caso-epigrafe p {
    margin: 0.25rem 1rem 1.25rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    }

.banner-contactanos {
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #3EA9FD 0%, #2A63D1 69%);
    font-size: 1.125rem;
}

#caso1 {
    background: linear-gradient(179.42deg, #1C1C1C -97.29%, #FB333E 121.87%);
}

#caso2 {
    background: linear-gradient(180deg, #FF1261 -39.29%, #880934 148.57%);
}

#beego {
    color: #D70048;
}

.title-contactanos {
    margin-top: 1.5rem;
    height: 2rem;
    padding: 0 1rem;
    margin-left: 1rem;
    box-shadow: inset 0.25rem 0 0 0 #1696E6;
    display: flex;
    align-items: center;
}

.banner-contactanos {
    margin-top: 2.5rem;;
}

.banner-contactanos h6 {
    max-width: 222px;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
}

.button {
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
}

.agenda-consulta {
    font-size: 18px;
    padding: 1rem;
    border-radius: 2.5rem;
    border: none;
    font-size: 1.125rem;
    color: #fff;
    background-color: #2A63D1;
    margin: 0;
    width: 100%;
}

.agenda-consulta:active {
    background-color: #1B54B9;
}

footer {
    background: #11134B;
    padding: 1rem;
    margin-top: 2rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
}

.menu {
    background: linear-gradient(180deg, #2A63D1 0%, #3EA9FD 150%);
}

.footer-background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
}

.father-section {
    border-bottom: 0.5px solid #fff;
    
}

.father-section h6 {
    font-size: 1.125rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

.father-section p {
    margin: 0 0 0.5rem 0;
    font-size: 0.875rem;
    text-align: center;
}

.father-section.last {
    border-bottom: none;
    margin: 0 0 1rem 0;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer span p {
    font-size: 0.625rem;
    text-align: center;
    margin: 0 0 1.5rem 0;
}

.rrss div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
}

.info-contacto span {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin-top: 1rem;
}

.info-contacto h5 {
    margin: 0 0 0rem 0.5rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.info-contacto a {
    color: #1B54B9;
    cursor: pointer;
}



.info-contacto img {
    height: 34px;
    width: 34px;
}

.fondo-menu {
    width: 100%;
    height: 100%;
    background-color: linear-gradient(180deg, #2A63D1 0%, #62C8F4 100%);
}

/*============================================================================
=====================EMPIEZA ESTILOS CASO ESTUDIO ==========================*/


/* SECCION HERO */
.cch_header {
    padding: 1rem;
}

.cch_header .logo-design-labs {
    width: 49px;
    height: 55px;
}

.cch_hero-background {
    height: 27.25rem;
    background-image: url(/resources/background-seccion-cinemark.png);
}

#cch_nav {
    background-color: #A01D25;
}

.cch_hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin-top: 3rem;
}

.cch_h1 {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
}

.cch_h2 {
    font-size: 1.5rem;
    margin:1rem 0 0 0;
    max-width: 238px;
    text-align: center;
}

.cch_hero_pill-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: #F40E0E;
    font-size: 1rem;
    gap: 0.5rem;
    margin-bottom: 0;
}

.cch_hero_pill {
    width: 90px;
    height: 29px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.cch_hero_img-hero {
    padding: 0 1rem; 
    width: 100%;
}

/*SECCION CONTENIDO*/



.cch_seccion-contenido {
    margin-top: 6.5rem;
}

.cch_seccion-contenido p {
    font-size: 1rem;
    padding: 0 1rem;
}

#cch_problema {
    box-shadow: inset 0.25rem 0 0 0 #FB333E;
    margin-left: 0;
}

.cch_seccion-contenido figure {
    text-align: center;
    color: #fff;
    padding: 1.5rem 1rem;
    font-size: 0.625rem;
    margin: 0;
    background: linear-gradient(180deg, #1C1C1C -15.6%, #FB333E 122.59%);
}

.cch_main-items {
    padding: 0 1rem;
}
.cch_main-items p {
    padding: 0;
}

.cch_seccion-contenido figcaption {
    margin: 0.5rem 0 0.5rem 0;
}

#cch_resultado-app-cmk {
    margin-bottom: 0.5rem;
}

